@import 'tailwindcss';

@font-face {
  font-family: "clash";
  src: url("assets/fonts/Clash-Display.woff2");
}
@font-face {
  font-family: "cabinet";
  src: url("assets/fonts/Cabinet-Grotesk.woff2");
}
@font-face {
  font-family: "dm";
  src: url("assets/fonts/Dm-sans.woff2");
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}
#root{
  background: #000000;
}

::-webkit-scrollbar{
  width: 2px;
  background: #242424;
}
::-webkit-scrollbar-thumb{
  background: rgb(92, 92, 92);
}

::-webkit-scrollbar-thumb:hover{
  background: #c7fe00a1;
  border-radius: 2px;
}
::selection{
  background: #42ff1c;
  color: #000;
}